.page {
  background: var(--page-bg);
  color: #041C45;
}

.pageNoButton {
  padding-bottom: 90px; /* 80-100px space when button hidden */
}


.showMoreWrapper {
  text-align: center;
  margin: 32px 0 48px 0; /* top 32px, bottom 48px */
}
